<h2>Make and deploy a simple Node.js server in Azure</h2>
<p>To get started, make sure you have nodejs and npm on your local machine. Your Raspberry Pi already comes with Node.js installed). On OS X and Linux you can verify by typing <code class="language-bash">node -v</code> in your terminal. On Windows, OS X, download and run the <a href="https://nodejs.org/en/download/">Node installer</a> from the Node website. On Linux (Debian, Ubuntu), run:</p>
<pre><code class="language-bash">sudo apt-get install nodejs npm nodejs-legacy</code></pre>
