<!DOCTYPE html>
<html>
<head>
    <title>LEAP</title>
</head>
<body>
    <h1>Welcome to the LEAP learning platform!</h1>
    <h2>I want to...</h2>
    <ul>
        <li><a href="#">Learn about Azure</a></li>
        <li><a href="#">Learn C#</a></li>
        <li><a href="#">Learn Python</a></li>
        <li><a href="#">Learn about SQLServer</a></li>
    </ul>
</body>
</html>
