<head>
    <script></script>
</head>
<h1>Here be breaded cat videos</h1>
<ul>
    <% for(var i=0; i<data.length; i++) {%>
        <li>
            <a href='videos/<%=data[i]%>'><%=data[i]%></a>
        </li> 
    <% } %>
</ul>
