<div class="col-xs-18 col-md-18 navigation-section">
        <% for(var prop in content) {%>
            <div class="col-xs-24 col-md-24 navigation-section">
            <%- content[prop] %>
            </div>
        <% } %>
    </div>
</div>
