<!DOCTYPE html>
<html>
<head>
    <title>LEAP</title>
    <link href="/scripts/video.js/dist/video-js.css" rel="stylesheet">
    <link href="/scripts/prismjs/themes/prism-okaidia.css" rel="stylesheet">
    <link href="/scripts/videojs-chapter-thumbnails/dist/videojs.chapter-thumbnails.min.css" rel="stylesheet">
    <script src="/scripts/winstrap/dist/js/vendor/jquery.min.js"></script>
    <script src="/scripts/winstrap/dist/js/vendor/bootstrap.min.js"></script>
    <script src='/scripts/video.js/dist/video.min.js'></script>
    <script src='/scripts/videojs-chapter-thumbnails/dist/videojs.chapter-thumbnails.js'></script>
    <link rel="stylesheet" type="text/css" href="/scripts/winstrap/dist/css/winstrap.css">
    <link rel="stylesheet" href="../../css/styles.css">
</head>
