<!-- Basic right 75% structure has for div's for each section to render -->
<body>
   <div class="page-header">
       <div class="container">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">
                        <img src="../../../images/microsoft.png" alt="Microsoft" height="23">
                    </a>
                </div>
       </div>
        <div class="navbar-local color-accent theme-dark">
            <div class="container">
                <div class="row">
                <div class="col-xs-24">
                    <h2 class="fixName" style="color:white;"><%= welcomeMessage %></h2>
                    <p></p>
                    
                </div>
            </div>
        </div>
    </div>
   </div>
