
                        <div class="col-md-6">

                            <ul role="navigation" id="sidenav-small" class="nav side-navigation side-navigation-small theme-default">
                                <button type="button" class="close" data-dismiss="side-navigation" aria-label="close">
                                    <i class="glyph glyph-cancel"></i>
                                </button>
                          
                                <li class="active side-nav-c2">
                                    <a data-toggle="collapse" data-parent="#sidenav-small" href="#csharp" aria-expanded="true" aria-controls="#csharp">C#</a>
                                      <ul class="nav collapse" id="csharp">
                                        <li><a href="/csharp/introduction" class="active">Introduction</a></li>
                                        <li><a href="/csharp/presentations">Presentions</a></li>
                                        <li><a href="/csharp/videos">Videos</a></li>
                                        <li><a href="/csharp/assignments">Assignments</a></li>
                                      </ul>
                                </li>

                                <li class="active side-nav-c2">
                                    <a data-toggle="collapse" data-parent="#sidenav-small" href="#Azure" aria-expanded="true" aria-controls="#Azure">Azure</a>
                                      <ul class="nav collapse" id="Azure">
                                        <li><a href="/azure/introduction" class="active">Introduction</a></li>
                                        <li><a href="/azure/presentations">Presentions</a></li>
                                        <li><a href="/azure/videos">Videos</a></li>
                                        <li><a href="/azure/assignments">Assignments</a></li>
                                      </ul>
                                </li>

                                  <li class="active side-nav-c2">
                                    <a data-toggle="collapse" data-parent="#sidenav-small" href="#Algorithms" aria-expanded="true" aria-controls="#Algorithms">Algorithms</a>
                                      <ul class="nav collapse" id="Algorithms">
                                        <li><a href="/algorithms/introduction" class="active">Introduction</a></li>
                                        <li><a href="/algorithms/presentations">Presentions</a></li>
                                        <li><a href="/algorithms/videos">Videos</a></li>
                                        <li><a href="/algorithms/assignments">Assignments</a></li>
                                      </ul>
                                </li>

                                <li class="active side-nav-c2">
                                    <a data-toggle="collapse" data-parent="#sidenav-small" href="#VisualStudio" aria-expanded="true" aria-controls="#VisualStudio">Visual Studio</a>
                                      <ul class="nav collapse" id="VisualStudio">
                                        <li><a href="/visualstudio/introduction" class="active">Introduction</a></li>
                                        <li><a href="/visualstudio/presentations">Presentions</a></li>
                                        <li><a href="/visualstudio/videos">Videos</a></li>
                                        <li><a href="/visualstudio/assignments">Assignments</a></li>
                                      </ul>
                                </li>

                                <li class="active side-nav-c2">
                                    <a data-toggle="collapse" data-parent="#sidenav-small" href="#Pi" aria-expanded="true" aria-controls="#Pi">Pi</a>
                                      <ul class="nav collapse" id="Pi">
                                        <li><a href="/pi/introduction" class="active">Introduction</a></li>
                                        <li><a href="/pi/presentations">Presentions</a></li>
                                        <li><a href="/pi/videos">Videos</a></li>
                                        <li><a href="/pi/assignments">Assignments</a></li>
                                      </ul>
                                </li> 
                            </ul>
                        </div>
                      