<% include ./head %>
<% include ./header %>
<div class="container">
    <div class="row">
        <div class="col-xs-24">
            <section class="section">
                <div class="row m-t-md">
                    <% include ./leftnavigation %>
                    <% include ./contentarea %>
                    <script src='/scripts/prismjs/prism.js'></script>
                </div>
            </section>
        </div>
    </div>
</div>
