<% include ./partials/head %>
<% include ./partials/header %>
<div class="container">
    <div class="row">
        <div class="col-xs-24">
            <section class="section">
                <div class="row m-t-md">
                    <% include ./partials/leftnavigation %>
                    <% include ./partials/contentarea %>
                </div>
            </section>
        </div>
    </div>
</div>
