<hr>
<a class="noLink" name="presentations"></a>
<h3>Powerpoints</h3>
<ul>
    <% for(var i=0; i < data.length; i++) {%>
        <li>
            <a href='/presentations/<%=data[i]%>'>{{data[i]}}</a>
        </li> 
        <% } %>
</ul>
