<hr>
<a class="noLink" name="presentations"></a>
<h3>Powerpoints</h3>
<ul>
    <% for(var i=0; i < data.length; i++) {%>
        <li>
            <iframe src='/viewer/#../files/<%=subjectName%>/<%=subTopic%>/presentations/<%=data[i]%>' allowfullscreen webkitallowfullscreen></iframe>
        </li> 
        <% } %>
</ul>
