<hr>
<a class="noLink" name="assignments"></a>

<h3>Resources</h3>
<ul>
    <% for(var i=0; i < data.length; i++) {%>
    <li><a href='#/resources/<%=data[i]%>'><%=data[i]%></a></li>
        <% } %>
</ul>
