<hr>
<a class="noLink" id="videos"></a>
<h3>Videos</h3>
<ul class="">
    <% for(var i=0; i < data.length; i++) {%>
        <li>
            <video id='<%=folder%><%=data[i]%>' class='video-js vjs-default-skin' controls preload='auto' > <source src='<%=paths[i]%>' type="video/mp4" />
            </video><br/>
        </li> 
    <% } %>
</ul>


