<hr>
<a class="noLink" name="videos"></a>
<style>
    .videoRound{ 
    list-style-type: none;
    display: inline-flex;
    width: 100%;
    overflow: auto;
    }
</style>
<h3>Videos</h3>
<ul class="">
    <% for(var i=0; i < data.length; i++) {%>
        <li>
            <video id='<%=folder%><%=data[i]%>' class='video-js vjs-default-skin' controls preload='auto' > <source src='<%=paths[i]%>' type="video/mp4" />
            </video><br/>
        </li> 
    <% } %>
</ul>
<script>
        $('document').ready(function(){
            $('video').each(function(){
                var id = $(this).attr("id")
                videojs($(this).attr("id")).ready(function(){this.chapter_thumbnails({
                    src: id + ".vtt"
                })
            })
        });
    }); 
</script>

