<hr>
<a class="noLink" name="videos"></a>

<h3>Videos</h3>
<ul>
    <% for(var i=0; i < data.length; i++) {%>
        <li>
            <video id='<%=data[i]%>' class='video-js vjs-default-skin' controls preload='auto' width='300' height="124"> <source src='<%=paths[i]%>'> type="video/mp4" /></video>
        </li> 
    <% } %>
</ul>
<script>
        $('document').ready(function(){
            $('video').each(function(){
                var id = $(this).attr("id")
                videojs($(this).attr("id")).ready(function(){this.chapter_thumbnails({
            src: '<%=folder%>' + id + ".vtt"
                })
            })
        });
    }); 
</script>

