<hr>
<a class="noLink" name="videos"></a>
<style>
  
</style>
<h3>Videos</h3>
<ul>
    
        <% for(var i=0; i < data.length; i++) { %>
        <li>

                <video id='<%=folder%><%=data[i]%>' class='video-js vjs-default-skin' controls preload='auto' width='300' height="124"> <source src='<%=paths[i]%>' type="video/<%=paths[i].substring(paths[i].lastIndexOf(".")+1,paths[i].length)%>"/>
                </video>
                </li>
        <% } %>
   </ul>
<script>
        $('document').ready(function(){
            $('.carousel').carousel({
                interval: false
            })
            $('video').each(function(){
                var id = $(this).attr("id")
                videojs($(this).attr("id")).ready(function(){this.chapter_thumbnails({
                    src: id + ".vtt"
                })
            })
        });
    }); 
</script>

